
body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 5rem;
}
section{
    background: linear-gradient( -45deg , #23a6d5 , #23d5ab);
    width: 100%;
    height: 100vh;
}

.img-preview {
    width: 400px;
    height: 400px;
    position: relative;
    border: 5px solid #036b68 ;
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    border: 5px solid #015754;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 600;
    transition: all .7s;
    cursor: pointer;
}

.upload-label:hover{
    box-shadow: 0 5px 50px 0 #036b68 inset, 0 5px 50px 0 #036b68,
                0 5px 50px 0 #036b68 inset, 0 5px 50px 0 #036b68 ;
    text-shadow: 0 0 5px #036b68 ;            
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.text{
    padding-top: 20px;
}

.predict-btn {
    background: transparent ;
    display: inline-block;
    padding: 12px 30px;
    border: 5px solid #015754;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 600;
    transition: all .7s;
    cursor: pointer;
}

.predict-btn:hover{
    box-shadow: 0 5px 50px 0 #036b68 inset, 0 5px 50px 0 #036b68,
                0 5px 50px 0 #036b68 inset, 0 5px 50px 0 #036b68 ;
    text-shadow: 0 0 5px #036b68 ;            
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}